<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title size="auto"> Pagamento </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1 style="color:rgb(99, 112, 255);">Compra efetuada com</h1><br>
        <h2 style="color: rgb(87, 184, 148);">SUCESSSO!</h2><br>
        <h1 style="color:rgb(99, 112, 255);">Hora de fazer as malas!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img src="../../../assets/success.svg" alt=""></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        Basta apresentar o QR Code na hora de embarcar
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ngx-qrcode [value]="qrcode"></ngx-qrcode>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
