<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title size="auto"> Airline Tickets </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h6 style="text-align: center;">Detalhes do pedido
    </h6>

    <ion-card>
      <ion-img src="https://midias.agazeta.com.br/2020/06/06/710x388/cristo-redentor-no-rio-de-janeiro--258811.jpg">
      </ion-img>
      <ion-card-content size="6">
        <ion-row>
          <ion-col size="6">
            <ion-icon name="airplane"></ion-icon> IDA<br>
            <ion-row>São Paulo</ion-row>
            <ion-row>Guarulhos</ion-row>
            <ion-row>Sáb,15 dez 2020</ion-row>
            <ion-row>15:00 hrs</ion-row>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="airplane"></ion-icon> Volta <br>
            <ion-row>São Paulo</ion-row>
            <ion-row>Guarulhos</ion-row>
            <ion-row>Sáb,15 dez 2020</ion-row>
            <ion-row>15:00 hrs</ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <h6 style="text-align: center;">Bagagem
    </h6>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <ion-img
                  src="https://media.melhoresdestinos.com.br/2018/02/barcelona-espanha-pontos-turisticos2-e1576182573625-820x522.jpg">
          </ion-img>
        </ion-col>
        <ion-label>Barcelona</ion-label>
      </ion-row>
    </ion-card>

    <h6 style="text-align: center;">Hotel
    </h6>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <ion-img
                  src="https://media.melhoresdestinos.com.br/2018/02/barcelona-espanha-pontos-turisticos2-e1576182573625-820x522.jpg">
          </ion-img>
        </ion-col>
        <ion-label>Barcelona</ion-label>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
