<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title size="auto"> Pagamento </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-text-center" style="font-size: 3px;">
    <ion-item>
      <ion-label color="medium" slot="start">Passagem</ion-label>
      <p slot="end">R$ {{ticket.travelPrice}},00</p>
    </ion-item>
    <div class="hr"> </div>
    <ion-item>
      <ion-label color="medium" slot="start">Bagagem</ion-label>
      <p slot="end">R$ {{ticket.extras.priceBaggage}},00</p>
    </ion-item>
    <div class="hr"> </div>
    <ion-item>
      <ion-label *ngIf="ticket.extras.foodIncluded" color="medium" slot="start">Hotel + Alimentação</ion-label>
      <ion-label *ngIf="!ticket.extras.foodIncluded" color="medium" slot="start">Hotel</ion-label>
      <p slot="end">R$ {{ticket.extras.priceHotel}},00</p>
    </ion-item>
    <div class="hr"> </div>
    <ion-item>
      <ion-label slot="start"><b>Total da Viagem</b></ion-label>
      <p slot="end"><b>R$ {{priceTotal}},00</b></p>
    </ion-item>
    <div class="hr"> </div>
  </ion-list>

  <div class=" ion-margin-top ion-padding">
    <ion-text class="ion-align-items-center" color="medium">
      Forma de Pagamento
    </ion-text>
  </div>

  <ion-card>
    <ion-item>
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>Cartão de crédito</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-text slot="end" style="font-size: 34px;">
        R$ {{priceTotal}},00
      </ion-text>
    </ion-card-content>
  </ion-card>


  <ion-button color="success" expand="block">Prosseguir para compra</ion-button>
</ion-content>
