<ion-card>
  <ion-card-header>
    <ion-card-title>Viagem</ion-card-title>
    <ion-icon name="airplane" size="large"></ion-icon>
    <ion-card-subtitle>
      <ion-icon name="person"></ion-icon>{{ historic.totalPeople }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ historic.origin }}
        </ion-col>
        <ion-col>
          {{ historic.destiny }}
        </ion-col>
      </ion-row>
      <ion-row>
        Preço total: {{ historic.priceTotal }}
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>