<ion-content [fullscreen]="true">
  <ion-item color="secondary">
    <ion-col>
      <ion-row class="ion-align-items-center">
        <ion-icon name="location"></ion-icon>&nbsp; São Paulo | Bahia
      </ion-row>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-icon name="calendar"></ion-icon>&nbsp; 28 de nov - 15 de Dez
      </ion-row>
    </ion-col>
    <ion-col size="3">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-icon name="person"></ion-icon> 1
      </ion-row>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-button color="dark">Editar <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-item>

  <div class="ion-padding">
    <h6 style="font: bolder;">Total de <label style="color: #414AAA;">10</label> passagens baratas<br>
      de <strong>São Paulo</strong> para <strong>Salvador</strong>
    </h6>

    <ion-card>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="9">
          <ion-icon style="color: #31d323;" name="earth"></ion-icon> GOL
        </ion-col>
        <ion-col size="3" style="font-size: 17px;">5 dias</ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="8">
          <ion-icon name="airplane"></ion-icon> IDA<br>
          <ion-text>Guarulhos</ion-text><br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="airplane"></ion-icon> Volta <br>
          <ion-text>Salvador</ion-text> <br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="6">
          <ion-text> A partir de <br> <strong>R$ 505</strong></ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary">Selecionar <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="9">
          <ion-icon style="color: #31d323;" name="earth"></ion-icon> GOL
        </ion-col>
        <ion-col size="3" style="font-size: 17px;">5 dias</ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="8">
          <ion-icon name="airplane"></ion-icon> IDA<br>
          <ion-text>Guarulhos</ion-text><br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="airplane"></ion-icon> Volta <br>
          <ion-text>Salvador</ion-text> <br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="6">
          <ion-text> A partir de <br> <strong>R$ 505</strong></ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary">Selecionar <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="9">
          <ion-icon style="color: #31d323;" name="earth"></ion-icon> GOL
        </ion-col>
        <ion-col size="3" style="font-size: 17px;">5 dias</ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="8">
          <ion-icon name="airplane"></ion-icon> IDA<br>
          <ion-text>Guarulhos</ion-text><br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="airplane"></ion-icon> Volta <br>
          <ion-text>Salvador</ion-text> <br>
          <ion-text>sáb, 28 nov. 2020</ion-text> <br>
        </ion-col>
      </ion-row>
      <div class="hr"> </div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="6">
          <ion-text> A partir de <br> <strong>R$ 505</strong></ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary">Selecionar <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>