<ion-content [fullscreen]="true">
  <ion-item color="secondary">
    <ion-col>
      <ion-row class="ion-align-items-center">
        <ion-icon name="location"></ion-icon>&nbsp; {{filter?.origin}} | {{filter?.destiny}}
      </ion-row>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-icon name="calendar"></ion-icon>&nbsp; {{filter?.travelDate | date: 'dd/MM/yyyy'}} -
        {{filter?.returnDate | date: 'dd/MM/yyyy'}}
      </ion-row>
    </ion-col>
    <ion-col size="3">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-icon name="person"></ion-icon> {{filter?.totalPeople}}
      </ion-row>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-button color="dark" (click)="edit()">Editar <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-item>

  <div class="ion-padding">
    <h6 style="font: bolder;">Total de <label style="color: #414AAA;">{{ticketsToBuy.length}}</label> passagens baratas<br>
      de <strong>{{filter.origin}}</strong> para <strong>{{filter.destiny}}</strong>
    </h6>

    <ion-card *ngFor="let ticket of ticketsToBuy">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="9">
          <ion-icon style="color: #31d323;" name="earth"></ion-icon> GOL
        </ion-col>
        <ion-col size="3" style="font-size: 17px;">{{getDays(ticket)}}</ion-col>
      </ion-row>
      <div class="hr"></div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="8">
          <ion-icon name="airplane"></ion-icon> IDA<br>
          <ion-text>{{ticket.filter.destiny}}</ion-text><br>
          <ion-text>{{ticket.filter.travelDate | date: 'dd/MM/yyyy'}}</ion-text> <br>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="airplane"></ion-icon> Volta <br>
          <ion-text>{{ticket.filter.origin}}</ion-text> <br>
          <ion-text>{{ticket.filter.returnDate | date: 'dd/MM/yyyy'}}</ion-text> <br>
        </ion-col>
      </ion-row>
      <div class="hr"></div>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="6">
          <ion-text> A partir de <br> <strong>R$ {{ticket.travelPrice}}</strong></ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary">Selecionar <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>
