<ion-content>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-title size="auto"> Airline Tickets </ion-title>
        </ion-buttons>
    </ion-toolbar>

    <div class="welcome-text">
        <p>Olá</p>
        <p class="ion-text-capitalize">Qual será seu proximo destino ?</p>
    </div>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="form">
                <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center" size="2">
                        <ion-icon color="primary" name="home"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label for="origin" position="floating">Origem</ion-label>
                            <ion-input type="text" name="origin" formControlName="origin"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center" size="2">
                        <ion-icon color="primary" name="location-sharp"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label for="destiny" position="floating">Destino</ion-label>
                            <ion-input type="text" name="destiny" formControlName="destiny"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center" size="2">
                        <ion-icon color="primary" name="calendar-sharp"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label for="travelDate" position="floating">Data de Ida</ion-label>
                            <ion-datetime [min]="this.date" name="travelDate" formControlName="travelDate">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center" size="2">
                        <ion-icon color="primary" name="calendar-sharp"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label for="returnDate" position="floating">Data de Volta</ion-label>
                            <ion-datetime [min]="this.form.controls.travelDate.value" name="returnDate"
                                formControlName="returnDate"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top">
                    <ion-col class="ion-align-self-end" style="flex-direction: column">
                        <ion-row class="ion-justify-content-center">
                            <span>Somente Ida</span>
                        </ion-row>
                        <ion-row class="ion-justify-content-center">
                            <ion-toggle name="onlyTravel" formControlName="onlyTravel"></ion-toggle>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label for="totalPeople" position="floating">Total de Pessoas</ion-label>
                            <ion-input type="number" name="totalPeople" formControlName="totalPeople"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-padding-top">
                    <ion-col class="ion-text-end">
                        <ion-button color="primary" (click)="search()">Pesquisar</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-row>
        <ion-col>
            <label class="suggestion">Sugestões</label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-padding">
            <div class="ion-align-items-start travel-card">
                <ion-thumbnail class="thumbnail-travels">
                    <img
                        src="https://www.viagenscinematograficas.com.br/wp-content/uploads/2020/02/Top-10-Melhores-Praias-Brasil-Capa-2.jpg">
                </ion-thumbnail>
                <div class="container-travels">
                    <div class="title-travels">
                        <p>Bahia - Salvador</p>
                    </div>
                    <div class="description-travels">
                        <span>15 dez. 2020</span> - <span>15 dez. 2020</span>
                    </div>
                    <div class="bottom-travels">
                        <span class="price">R$ 505</span>
                        <span class="show-more">ver mais</span>
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-padding">
            <div class="ion-align-items-start travel-card">
                <ion-thumbnail class="thumbnail-travels">
                    <img
                        src="https://www.viagenscinematograficas.com.br/wp-content/uploads/2020/02/Top-10-Melhores-Praias-Brasil-Capa-2.jpg">
                </ion-thumbnail>
                <div class="container-travels">
                    <div class="title-travels">
                        <p>Bahia - Salvador</p>
                    </div>
                    <div class="description-travels">
                        <span>15 dez. 2020</span> - <span>15 dez. 2020</span>
                    </div>
                    <div class="bottom-travels">
                        <span class="price">R$ 505</span>
                        <span class="show-more">ver mais</span>
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>